*{
    text-rendering: geometricPrecision;
    shape-rendering:geometricPrecision;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card{
    scale: 85%;
}